@import "_variables";
@import "_mixins";

@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

.contenedor {
  display: grid;
  font-weight: 300;
}

.base {
  background-image: url("./../images/Base.png");
  background-size: 100% 100%;
  color: white;
  padding: 5.625rem 1.875rem 2.5rem;
  position: relative;
}

.base__titulo {
  font-weight: inherit;
  margin-bottom: 1.875rem;
}

.base__titulo--negrita {
  font-weight: 400;
  word-wrap: break-word;
}

.base__img {
  width: 20px;
  height: 20px;
}

.base__final {
  font-size: 0.8125rem;
  margin-top: 6.25rem;
}

.base__ilustracion {
  position: absolute;
  bottom: 3.125rem;
  right: -7.5rem;
  display: none;
}

.formInicio {
  padding: 4.375rem 1.875rem;
}

.formInicio__titulo {
  font-weight: inherit;
}

.formInicio__titulo--negrita {
  font-weight: 400;
  color: $celeste;
}

.form__condiciones__descargar {
  cursor: pointer;
  text-decoration: underline;
}

.btnForm {
  display: inline-block;
  font-weight: 300;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.625rem 1.5rem;
  font-size: 0.75rem;
  border-radius: 0.3125rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: $celeste;
}

.btnForm--final {
  padding: 0.5rem 2.5rem;
}

.form__condiciones {
  font-size: 0.875rem;
}

.form__check:checked[type="checkbox"] {
  background-image: url("../images/iconos/gl_correct.png") !important;
  background-color: $verde !important;
  border-color: $verde !important;
}

.form__check:checked[type="radio"] {
  background-image: none !important;
  background-color: $verde !important;
  border-color: $verde !important;
  background-clip: content-box;
  padding: 2px;
}

.alert__text {
  font-size: 0.8125rem;
  margin-bottom: 0;
}

.final__step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.875rem 4.375rem;
}

.fontInherit {
  font-weight: inherit;
}

.color-celeste {
  color: $celeste;
}

.backIcon {
  border: 1px solid $celeste;
  padding: 0px 5px;
  border-radius: 100%;
  color: $celeste;
  margin-left: -40px;
  cursor: pointer;
}

.plan__box {
  border: 3px solid $plomo;
  border-radius: 10px;
  padding: 5px 5px 20px 15px;
  cursor: pointer;
}

.plan__box--selected {
  border: 3px solid $verde;
}

.plan__box__titulo {
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 0;
}

.plan__box__precio {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 0;
  position: relative;
  margin-left: 10px;

  &:after {
    content: "S/";
    position: absolute;
    top: 8px;
    left: -12px;
    right: 0px;
    bottom: 0;
    font-size: 12px;
  }
}

.plan__box__periodo {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 0;
}

.plan__box__img {
  width: 20px;
  height: 20px;
  float: right;
  border: 1px solid $plomo;
  border-radius: 100%;
}

.plan__box__img--selected {
  border: none;
  border-radius: none;
}

@media (min-width: 576px) {
  .contenedor {
    grid-template-columns: 0.9fr 1fr; /*LOS ELEMENTOS DE LA GRID SE DIVIDIRAN EN 2 COLUMNAS DE ESE TAMAÑO */
  }

  html {
    font-size: 14px;
  }

  .base__ilustracion {
    display: block;
  }

  .formInicio {
    padding: 3.75rem 0.625rem 0rem 5.3125rem;
  }

  .final__step {
    padding: 1.25rem 2.5rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .base {
    padding: 5.625rem 5rem 1.875rem;
  }

  .formInicio {
    padding: 3.75rem 1.875rem 0rem 7.5rem;
  }

  .final__step {
    padding: 1.875rem 6.25rem;
  }
}

@media (min-width: 1200px) {
  .formInicio {
    padding: 3.75rem 4.6875rem 0 11.875rem;
  }
}
