* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: grid;
  grid-template-columns: 0.9fr 1fr; /*LOS ELEMENTOS DE LA GRID TENDRAN EL MISMO TAMAÑO */
}

.base {
  background-image: url("./../images/Base.png");
  background-size: 100% 100%;
  color: white;
  padding: 5.625rem 5rem 1.875rem;
  font-weight: 300;
  position: relative;
}

.base__titulo {
  font-weight: inherit;
  margin-bottom: 1.875rem;
}

.base__titulo--negrita {
  font-weight: 400;
  word-wrap: break-word;
}

.base__img {
  width: 20px;
  height: 20px;
}

.base__final {
  font-size: 0.8125rem;
  margin-top: 6.25rem;
}

.base__ilustracion {
  position: absolute;
  bottom: 3.125rem;
  right: -6.875rem;
}
